<!doctype html>
<html lang="en">

<head>
    <title>CryptoTeckels</title>
    <meta charset="utf-8">
    <meta name="Googlebot-News" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <meta name="robots" content="noimageindex">
    {{!-- <meta name="robots" content="noindex, nofollow"> --}}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="all">
    <link href="/css/slick.css" rel="stylesheet" media="all">
    <link href="/css/slick-theme.css" rel="stylesheet" media="all">
    <link href="/css/style.css" rel="stylesheet" media="all">
    <link rel="icon" type="image/png" sizes="28x28" href="images/favi.png">
    <meta name="theme-color" content="#sdfsf">
</head>

<body class="themebgcolor">
    <div class="circlebg1"><img class="img-fluid" src="images/circlebg19.svg" alt="img"></div>
    <div class="circlebg3"><img class="img-fluid" src="images/circlebg21.svg" alt="img"></div>

    <!-- header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo">
                        <a href=""><img class="img-fluid" src="images/Crypto_Teckels_logo.svg" alt="img"></a>
                    </div>
                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
            <div class="hamburger-toggle">
              <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </button>
                    <nav class="navbar navbar-expand-xl">

                        <div class="collapse navbar-collapse" id="navbar-content">
                            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">

                                <li class="nav-item dropdown active">
                                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Homepage</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#Pre-sale">Discover</a>
                                </li>
                                <li class="nav-item d-none d-sm-none d-xl-block">
                                    <a class="nav-link" aria-current="page" href="activity.html">OpenSea</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Partners</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="loginWallet d-none d-md-inline-flex">
                        <a class="btn" href="wallet.html">
                            <img src="images/metamaskicon.svg" alt="img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- banner sec -->
    <div class="bannerSec">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bannercntSec">
                        <div class="bannercnt text-center">
                            <h2 class="textwhitecolor">Discover the amazing<span class="textbluecolor"> Crypto Teckels Metaverse</span></h2>

                            <div class="bannerbtn">
                                <button class="btn btnlightblue me-3">Discover</button>
                                <button class="btn btnlightblue me-3">View on OpenSea</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Last Added Items -->
    <br>
    <br>
    <br>
    <div class="LastAddedItems pt-3" id="Pre-sale">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="headingWh mb-3 mb-sm-3 mb-md-4 mb-xl-5">Pre-Sale Collection</h2>
                    <div class="lastAdded slider">
                        <div class="aboutitem">
                            <div class="aboutitemImg"><img class="img-fluid" src="images/last-added-itemimg01.png" alt="img"></div>
                            <div class="bgdarkbluecolor aboutitemcnt">
                                <div class="itemtitlecode">
                                    <h2 class="textgraycolor">CryptoTeckels</h2>
                                    <h3 class="textwhitecolor">CryptoTeckels #4939</h3>
                                </div>
                                <div class="itemtitlePrice">
                                    <h2 class="textgraycolor">Price</h2>
                                    <h3 class="textwhitecolor"><img src="images/priceicon.svg"> <strong>0, 006</strong></h3>
                                    <h4 class="textgraycolor"><span><img src="images/hearticon.svg"></span> 56</h4>
                                </div>
                            </div>
                        </div>

                        <div class="aboutitem">
                            <div class="aboutitemImg"><img class="img-fluid" src="images/last-added-itemimg02.png" alt="img"></div>
                            <div class="bgdarkbluecolor aboutitemcnt">
                                <div class="itemtitlecode">
                                    <h2 class="textgraycolor">CryptoTeckels</h2>
                                    <h3 class="textwhitecolor">CryptoTeckels #4939</h3>
                                </div>
                                <div class="itemtitlePrice">
                                    <h2 class="textgraycolor">Price</h2>
                                    <h3 class="textwhitecolor"><img src="images/priceicon.svg"> <strong>0, 006</strong></h3>
                                    <h4 class="textgraycolor"><span><img src="images/hearticon-blue.svg"></span> 56</h4>
                                </div>
                            </div>
                        </div>

                        <div class="aboutitem">
                            <div class="aboutitemImg"><img class="img-fluid" src="images/last-added-itemimg03.png" alt="img"></div>
                            <div class="bgdarkbluecolor aboutitemcnt">
                                <div class="itemtitlecode">
                                    <h2 class="textgraycolor">CryptoTeckels</h2>
                                    <h3 class="textwhitecolor">CryptoTeckels #4939</h3>
                                </div>
                                <div class="itemtitlePrice">
                                    <h2 class="textgraycolor">Price</h2>
                                    <h3 class="textwhitecolor"><img src="images/priceicon.svg"> <strong>0, 006</strong></h3>
                                    <h4 class="textgraycolor"><span><img src="images/hearticon-blue.svg"></span> 56</h4>
                                </div>
                            </div>
                        </div>

                        <div class="aboutitem">
                            <div class="aboutitemImg"><img class="img-fluid" src="images/last-added-itemimg04.png" alt="img"></div>
                            <div class="bgdarkbluecolor aboutitemcnt">
                                <div class="itemtitlecode">
                                    <h2 class="textgraycolor">CryptoTeckels</h2>
                                    <h3 class="textwhitecolor">CryptoTeckels #4939</h3>
                                </div>
                                <div class="itemtitlePrice">
                                    <h2 class="textgraycolor">Price</h2>
                                    <h3 class="textwhitecolor"><img src="images/priceicon.svg"> <strong>0, 006</strong></h3>
                                    <h4 class="textgraycolor"><span><img src="images/hearticon.svg"></span> 56</h4>
                                </div>
                            </div>
                        </div>

                        <div class="aboutitem">
                            <div class="aboutitemImg"><img class="img-fluid" src="images/last-added-itemimg01.png" alt="img"></div>
                            <div class="bgdarkbluecolor aboutitemcnt">
                                <div class="itemtitlecode">
                                    <h2 class="textgraycolor">CryptoTeckels</h2>
                                    <h3 class="textwhitecolor">CryptoTeckels #4939</h3>
                                </div>
                                <div class="itemtitlePrice">
                                    <h2 class="textgraycolor">Price</h2>
                                    <h3 class="textwhitecolor"><img src="images/priceicon.svg"> <strong>0, 006</strong></h3>
                                    <h4 class="textgraycolor"><span><img src="images/hearticon-blue.svg"></span> 56</h4>
                                </div>
                            </div>
                        </div>

                        <div class="aboutitem">
                            <div class="aboutitemImg"><img class="img-fluid" src="images/last-added-itemimg02.png" alt="img"></div>
                            <div class="bgdarkbluecolor aboutitemcnt">
                                <div class="itemtitlecode">
                                    <h2 class="textgraycolor">CryptoTeckels</h2>
                                    <h3 class="textwhitecolor">CryptoTeckels #4939</h3>
                                </div>
                                <div class="itemtitlePrice">
                                    <h2 class="textgraycolor">Price</h2>
                                    <h3 class="textwhitecolor"><img src="images/priceicon.svg"> <strong>0, 006</strong></h3>
                                    <h4 class="textgraycolor"><span><img src="images/hearticon-blue.svg"></span> 56</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- Popular collections -->
    <div class="create-items mt-3 pt-3 mt-md-4 pt-md-4 mt-lg-5 pt-lg-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 create-form-outer">
                    <div class="title-heading mb-4 pb-2 pb-lg-0 ">
                        <h2 class="headingWh ">Built With</h2>
                    </div>
                    <div class="create-form">
                        <form action="">
                            <div class="row">

                                <div class="col-6 pb-md-4 pb-3">
                                    <div class="img-choosen">
                                        <img src="images/hashlips_logo.png" class="img-fluid-hl" alt="choose img">
                                    </div>
                                </div>
                                <div class="col-6 pb-md-4 pb-3">
                                    <div class="img-choosen">
                                        <img src="images/pinata.svg" class="img-fluid-nftport" alt="choose img">
                                        <br>
                                        <label for="">Pinata</label>
                                    </div>
                                </div>
                                <div class="col-6 pb-md-4 pb-3">
                                    <div class="img-choosen">
                                        <img src="images/ipfs-logo.svg" class="img-fluid-open" alt="choose img">
                                        <br>
                                        <br>
                                        <label for="">IPFS</label>
                                    </div>
                                </div>
                                <div class="col-6 pb-md-4 pb-3">
                                    <div class="img-choosen">
                                        <img src="images/polygon.png" class="img-fluid-polygon" alt="choose img">
                                        <label for="">Polygon</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 mt-5 mt-lg-0">
                    <div class="aboutitem">
                        <div class="aboutitemImg"><img class="img-fluid" src="images/item-prev.png" alt="img"></div>
                        <div class="bgdarkbluecolor aboutitemcnt">
                            <div class="itemtitlecode">
                                <h2 class="textgraycolor">CryptoTeckels</h2>
                                <h3 class="textwhitecolor">CryptoTeckels #92991</h3>
                            </div>
                            <div class="itemtitlePrice">
                                <h2 class="textgraycolor">Price</h2>
                                <h3 class="textwhitecolor"><img src="images/priceicon.svg"> <strong>0, 006</strong></h3>
                                <h4 class="textgraycolor"><span><img src="images/hearticon.svg"></span> 56</h4>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 pt-1 mb-2 ">
                        <button class="btn btnlightblue savebtn d-block m-auto d-lg-none">Save</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- Popular collections -->
    <div class="popularcollections mt-5 pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="headingWh mb-4 mb-sm-4 mb-md-4 mb-xl-5">Create and Sell your NFTs</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="createsell">
                        <div class="createsellHead">
                            <div class="creatsellicon"><img src="images/setupwalleticon.svg" alt="img"></div>
                            <h3 class="textwhitecolor">Set up your wallet</h3>
                        </div>
                        <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="createsell">
                        <div class="createsellHead">
                            <div class="creatsellicon"><img src="images/collectionicon.svg" alt="img"></div>
                            <h3 class="textwhitecolor">Create your collection</h3>
                        </div>
                        <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="createsell">
                        <div class="createsellHead">
                            <div class="creatsellicon"><img src="images/addyouricon.svg" alt="img"></div>
                            <h3 class="textwhitecolor">Add your NFTs</h3>
                        </div>
                        <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="createsell">
                        <div class="createsellHead">
                            <div class="creatsellicon"><img src="images/listthemicon.svg" alt="img"></div>
                            <h3 class="textwhitecolor">List them for sale</h3>
                        </div>
                        <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-4">
                    <div class="footsec">
                        <div class="footlogocntSec">
                            <a href="#" class="footlogo"><img class="img-fluid" src="images/Crypto_Teckels_logo.svg" alt="img"></a>
                            <p>Join the new metaverse with your favorite dogs, all with different and fun traits.</p>
                        </div>
                        <div class="joincommunity">
                            <h3>Join the Community</h3>
                            <ul>
                                <li>
                                    <a href="#"><img class="img-fluid" src="images/discordbutton.svg" alt="img"></a>
                                </li>
                                <li>
                                    <a href="#"><img class="img-fluid" src="images/twitter.svg" alt="img"></a>
                                </li>
                                <li>
                                    <a href="#"><img class="img-fluid" src="images/insta.svg" alt="img"></a>
                                </li>
                                <li>
                                    <a href="#"><img class="img-fluid" src="images/reditbutton.svg" alt="img"></a>
                                </li>
                                <li>
                                    <a href="#"><img class="img-fluid" src="images/youtube.svg" alt="img"></a>
                                </li>
                                <li>
                                    <a href="#"><img class="img-fluid" src="images/emailbutton.svg" alt="img"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4">
                    <div class="newscnt">
                        <h2 id="newsletter_message1" class="textwhitecolor newshead mb-3">Sign Up for the <span class="textbluecolor">CryptoTeckels Newsletter!</span></h2>
                        <p id="newsletter_message2" class="textwhitecolor mb-4">Sign up to receive our monthly newsletter, featuring updates from the team, new features of the metarverse, and trends we’re seeing in the space.</p>
                        <h2 id="newsletter_message3" class="textwhitecolor newshead mb-3" style="display:none">You are already subscribed to our newsletter, now you will be updated with everything new that happens on the  <span class="textbluecolor">CrytoTeckels Metaverse!</span></h2>
                        <form>
                            <div id="input_box" class="input-box">
                                <input type="text" name="name" placeholder="Enter e-mail address" class="form-input">
                            </div>
                            <div class="col-xl-12">
                                <div class="btn">
                                    <button id="newsletter" class="btn btnlightblue px-5" onclick="hideblocks()">Sign me Up!</button>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <div id="elevator_item">
        <a id="elevator" onclick="false;" title="Back To Top"></a>
    </div>

    <!-- newsletter Javascript -->
    <script src="js/newsletter.js"></script>
    <!-- Optional JavaScript -->
    <script src="js/jquery-2.0.0.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/comman.js?fdsfsdfs"></script>
    
</body>

</html>